<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Список фильмов</title>
</head>
<body>
    <h1>Фильмы</h1>
    <h2>Список фильмов</h2>
    {% if error_message %}
        <div style="color: red;">{{ error_message }}</div>
    {% endif %}

    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        {{ file_form.as_p }}
        <button type="submit">Добавить</button>
    </form>
    <ul>
        {% for film in films %}
            <li>
                <strong>Фильм: </strong>{{ film.title }} <br>
                Жанр: {{ film.gerne }} <br>
                Режиссёр: {{ film.director }} <br>
                Страна: {{ film.country }}
            </li>
        {% empty %}
        <li>Файлов нет</li>
        {% endfor %}
    </ul>
    <form method="GET" action="{% url 'index' %}">
        <button type="submit" class="btn-redir">
            Вернуться
        </button>
    </form>
</body>
</html>